@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

body, 
.ui.menu,
.ui.button{
  font-family: 'Raleway', sans-serif;
}
.ui.segment{
  border-radius: 0 !important;
}

.ui.header{
  font-family: 'Raleway', sans-serif;
  font-weight: 500
}

.ui.text.container{
  font-family: 'Raleway', sans-serif;
  font-weight: 300
}

.ui.input > input,
.ui.input > input:focus{
  border-top:0 !important;
  border-right:0 !important;
  border-left: 0 !important;
  border-radius:0 !important;
}

.ui.button{
  font-weight:500
}