@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

body, .ui.menu{
  font-family: 'Raleway', sans-serif;
}
.ui.segment{
  border-radius: 0 !important;
}

.ui.header{
  font-family: 'Raleway', sans-serif;
  font-weight: 500
}

.ui.text.container{
  font-family: 'Raleway', sans-serif;
  font-weight: 300
}